
		<p class="heading">Reservation edited.. Your Confirmation code:
			{{reservationsVm.reservation.confirmationcode}}</p>
		<div class="col-sm-4">

			<p class="subheading">Old reservation details</p>
			<ul>
				<li><p class="subheading">{{reservationsVm.reservation.date}}</p></li>
				<li><p class="subheading">{{reservationsVm.reservation.time}}</p></li>
				<li><p class="subheading">{{reservationsVm.reservation.partysize}}</p></li>
				<li><p class="subheading">{{reservationsVm.reservation.comments}}</p></li>
			</ul>
		</div>
		<div class="col-sm-4">
			<p class="subheading">New reservation details</p>
			<ul>
				<li><p class="subheading">{{reservationsVm.updatedReservation.date}}</p></li>
				<li><p class="subheading">{{reservationsVm.updatedReservation.time}}</p></li>
				<li><p class="subheading">{{reservationsVm.updatedReservation.partysize}}</p></li>
				<li><p class="subheading">{{reservationsVm.updatedReservation.comments}}</p></li>
			</ul>
		</div>