<div>
	<section>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="inputCode" class="col-sm-2 control-label">Confirmation
					Code</label>
				<div class="col-sm-10">
					<input type="text"
						data-ng-model="reservationsVm.reservations.confirmationcode"
						class="form-control" id="inputCode"
						placeholder="Enter your Confirmation code (Required)" required>
				</div>
			</div>

			<div class="form-group">

				<div class="col-sm-offset-1 col-sm-8">
					<button type="submit" class="btn btn-primary"
						data-ng-click="reservationsVm.showReservationByConfCode()">Show</button>
					<button type="submit" class="btn btn-primary"
						data-ng-click="reservationsVm.modifyReservationByConfCode()">Edit</button>
					<button type="submit" class="btn btn-primary"
						data-ng-click="reservationsVm.deleteReservationByConfCode()">Delete</button>
				</div>
			</div>


		</form>
	</section>
	<section data-ng-show="showReservation">
		<div class="col-sm-3">
			<ul>

				<li>{{reservationsVm.reservation.confirmationcode}}</li>
				<li>{{reservationsVm.reservation.date}}</li>
				<li>{{reservationsVm.reservation.time}}</li>
				<li>{{reservationsVm.reservation.partysize}}</li>
				<li>{{reservationsVm.reservation.comments}}</li>
			</ul>
		</div>
	</section>
	<section data-ng-show="modifyReservation">

		<div class="col-sm-6">

			<div data-ng-include="'modify-reservation-customers.tmpl.html'"></div>
		</div>
	</section>

	<section data-ng-show="deleteMessage">

		<h1>Reservation Deleted</h1>

		<h2>
			Your Reservation was successfully deleted.
		</h2>
	</section>
	<section data-ng-show="editConfirm">

		<h1>Reservation edited.. Your Confirmation code:
			{{reservationsVm.reservation.confirmationcode}}</h1>
		<div class="col-sm-4">

			<h3>Old reservation details</h3>
			<ul>
				<li>{{reservationsVm.reservation.date}}</li>
				<li>{{reservationsVm.reservation.time}}</li>
				<li>{{reservationsVm.reservation.partysize}}</li>
				<li>{{reservationsVm.reservation.comments}}</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<h3>New reservation details</h3>
			<ul>
				<li>{{reservationsVm.updatedReservation.date}}</li>
				<li>{{reservationsVm.updatedReservation.time}}</li>
				<li>{{reservationsVm.updatedReservation.partysize}}</li>
				<li>{{reservationsVm.updatedReservation.comments}}</li>
			</ul>
		</div>
	</section>
</div>