<div class="tableclass-row">
    <div class="tableclass">
        <p>Size: 8</p>
        <div class="eight"  id="table1"  >
            T1
        </div>
        <div class="eight" id="table5"   >
            T5
        </div>


    </div>
    <div class="tableclass">
        <p>Size: 4</p>
        <div class="four" id="table2">
            T2
        </div>
        <div class="four" id="table6">
            T6
        </div>

    </div>
    <div class="tableclass">
        <p>Size: 4</p>
        <div class="four" id="table3">
            T3
        </div>
        <div class="four" id="table7">
            T7
        </div>




    </div>
    <div class="tableclass">
        <p>Size: 4</p>
        <div class="four"  id="table4">
            T4
        </div>
        <div class="four" id="table8">
            T8
        </div>

    </div>

    <div class="tableclass">
        <p>Size: 2</p>
        <div class="two" id="table9">
            T9
        </div>
        <div class="two" id="table10">
            T10
        </div>

    </div>
</div>